
.homeBanner {
  height: 500px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.homeBannerButton {
  background-color:#0e1292;
  width: 141px;
  height: 40px;
  color: beige;
  font-size: 20px;
}

.leftContent {
  position: absolute;
  top: 300px;
  left: 100px;
}
.rightContent {
  position: absolute;
  right: 80px;
  top: 150px;
  width: 500px;
}
